
/* ----Start Header CSS---- */

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 480px;
}

header .container {
  height: 100%;
  background: #00C4CC;
  background: linear-gradient(140deg, #00C4CC 25%, #6E44BD);
  color: white;
}

header .content {
  width: 100%;
  height: 100%;
  padding: 20px 15px 0;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
}

.content h2 {
  margin: 40px auto 20px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  font-size: 2.5em;
  font-weight: 300;
  max-width: 460px;
  line-height: 46px;
  text-align: center;
}

.content .try-random {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}

.banner-menu {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #99C432;
  color: white;
  text-decoration: none;
  padding: 14px 26px;
  border-radius: 5px;
  display: inline-block;
}

.banner menu a, .images-container, .bg-images, .bg-img {
  display: inline-block;
}

.banner-menu .btn {
  position: relative;
  float: right;
}

.images-container {
  position: absolute;
  margin-left: -15px;
  bottom: 0;
  line-height: 0;
  width: 100%;
  text-align: center;
}

.bg-images {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}

.img-left {
  float: left;
  height: 240px;
  overflow: hidden;
  transform: translateX(60%);
  opacity: 0;
}

.img-right {
  float: right;
  height: 240px;
  overflow: hidden;
  transform: translateX(-60%);
  opacity: 0;
}

.bg-img {
  transition: all 0.3s ease;
}

.bg-img.appear {
  transform: translateX(0%);
  opacity: 1;
}

.bg-img img {
  transition: all 0.3s ease;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: block;
  max-width: 220px;
  min-height: 240px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* ----Start Palette CSS---- */

.palette-body {
  background-color: #FDFDFD;
  width: 100%;
  position: relative;
  padding-top: 25px;
  transition: all 0.3s ease;
}

.palette-wrapper {
  width: 100%;
  max-width: 720px;
  min-height: 210px;
  margin: 0 auto;
  padding: 0 20px 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  transition: all 0.3s ease
}

.main-content {
  margin-top: -305px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  position: relative;
  padding: 20px 20px 0;
  width: 300px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.img-main {
  width: 100%;
  height: 260px;
  position: relative;
  opacity: 0;
  transition: all 0.3s ease, opacity 0.5s ease;
  transform: translateY(100%);
}

.img-main.appear {
  transform: translateX(0%);
  opacity: 1;
}

.img-main img {
  width: 100%;
  min-height: 260px;
  display: block;
  position: relative;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: all 1s ease;
}

.img-main #bg-main {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.palette {
  background-color: #FDFDFD;
  padding: 10px;
  border-radius: 3px;
  opacity: 0;
  border: 1px solid #FDFDFD;
  transition: all 0.3s ease;
  max-width: 105px;
}

.palette-loaded {
  opacity: 1;
}

.palette:hover {
  box-shadow: 0 0 5px 0 rgba(23, 23, 23, 0.15);
  cursor: pointer;
  z-index: 2;
  border: 1px solid #ECECEC; 
}

.copy span {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}

.palette:hover .copy {
  opacity: 1; 
}

.palette:hover .copy span {
  opacity: 1; 
}

.color-sq {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: white;
  border-radius: 3px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
}

.color-name {
  color: #3F4652;
  word-break: break-word;
  text-align: center;
  margin-bottom: 2px;
  font-size: 14px;
}

.color-hex {
  color: #969696;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}