.loader {
  width: 70px;
	height: 70px;
}

.gradient-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px -25px;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  box-shadow: 0 0 0 2px white inset, 0 -5px 20px 5px rgba(255,0,0,0.5) inset, 0 0 20px 5px rgba(0,255,0,0.5) inset, 0 5px 20px 5px rgba(0,0,255,0.5) inset, 0 5px 20px 5px rgba(255,0,0,0.5), 0 0 20px 5px rgba(0,255,0,0.5), 0 -5px 20px 5px rgba(0,0,255,0.5);
  animation: gradient 1s linear infinite;
}

@keyframes gradient{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}